.componentGlobalSongList {
    margin: 0 100px;
}

.componentGlobalSongList table {
    width: 100%;
}

.globalSongAdd {
    text-align: center;
}

.componentGlobalSongList table td div {
  height: 100px;
  overflow: hidden;
}

.globalSongJacket {
    padding: 10px;
}

.globalSongJacket img {
    width: 30%;
    vertical-align: middle;
}

.componentGlobalSongListFilters {
    width: 75%;
    margin: auto;
}

.componentGlobalSongListFilters .select-flex-container {
    display: flex;
    justify-content: space-evenly;
}

.componentGlobalSongListFilters .select-flex-container .form-group:nth-of-type(1) {
    width: 50%;
    margin: 0 15px;
}

.componentGlobalSongListFilters .select-flex-container .form-group:nth-of-type(2) {
    width: 50%;
    margin: 0 15px;
}

.componentGlobalSongListFilters .select-flex-container .form-group:nth-of-type(3) {
    width: 50%;
    margin: 0 15px;
}

.componentGlobalSongListFilters .input-buttons-flex {
    display: flex;
    justify-content: space-evenly;
}

.componentGlobalSongListFilters .input-buttons-flex input {
    width: 25%;
}

.navigator button {
  width: 15%;
}
