.componentHomeBody p {
    font-size: 23px;
    margin-bottom: 125px;
}

.landing-image {
    width: 100%;
}

.componentHomeBody {
    margin: 0px 50px;
    margin-top: 30px;
}

.componentHomeBody img {
    width: 150px;
    display: flex;
}

.game-images img {
    display: inline-block;
}

.game-images {
    text-align: center;
}

.supported-games p {
    margin-bottom: 25px;
}

.supported-games img {
    width: 300px;
}

.jumbotron {
    background-image: url('../../resources/jumbotron-background.png');
    color: #fff;
    text-align: center;
}



footer {
    height: 350px;
    background-color: #7E7E7E;
    border-top: 3px solid #7D0000;
}

@media only screen and (min-width: 321px) and (max-width: 1440px) {
    .game-images img {
        width: 250px;
    }
}

@media only screen and (min-width: 1441px) {
    .game-images img {
        margin: 0 80px;
    }

    .componentHomeBody {
        margin: 0px 200px;
    }
}
