.menu-parent {
    text-align: right;
}

.menu-icon {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.menu-icon div {
    width: 35px;
    height: 5px;
    background-color: #BCBCBC;
    margin: 6px 0;
}

.top-nav {
    background: #201D1D;
    width: 100%;
}

.top-nav ul {
    padding: 10px 15px;
    margin-bottom: 0 !important;
    display: none;
}

.top-nav ul li {
    text-align: center;
    margin: 0px 0;
}

.top-nav ul li #link {
    text-decoration: none;
    color: #BCBCBC;
    font-size: 18px !important;
    opacity: 0.5;
    transition: 0.2s;
}

.top-nav ul li #link:hover {
    opacity: 1.0;
    transition: 0.2s;
}

.dropdown-content {
    display: none;
    z-index: 1;
    background-color:
}

.dropdown-content p {
    width: 100%;
    min-width: 150px;
    float: none;
    display: block;
    background-color: #FFF;
    padding: 7px 12px;
    background: #201D1D;
}

.user-profile {
    float: none;
}

.user-profile img {
    height: 0.9cm;
    margin-right: 10px;
    vertical-align: middle;
}

.user-profile .username {
    text-align: right;
}

.global-song-list {
    padding: 0px 30px;
}

@media only screen and (min-width: 769px)
{
    .dropdown-content {
      display: none;
      position: fixed !important;
      background-color: white !important;
    }

    .menu-parent {
        display: none;
    }

    .top-nav ul {
        display: block;
    }

    .top-nav li {
        display: inline-block;
        padding: 0 10px;
    }

    .user-profile {
        float: right;
        padding-right: 50px;
        vertical-align: middle;
        text-align: center;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}
